//width
$width-primary: 100%;

//height
$height-primary: 100%;
$height-secondary: auto;

//font-style
$font-style-primary: Helvetica;

//color 
$color-font-primary: #0099ff;

//margin
$margin-primary: 0 auto;