$color-primary:  #80ffff;
$color-secondary:  #ffffff;
$color-terciary: #99ff33;
$color-user: #ff0000;
$color-first: #0000ff;
$color-products: #ffff00;
$color-basket: #00bfff;
$color-header: #ccffff;
$color-product-header: #ffcc99;
$color-main: #aaff00;
$color-price: #66ffff;
$color-delete: #b3b3b3;
$color-black: #000000;
$color-forum:  #80ccff;
$color-title: #0000ff;
$color-response: #ffff1a; 
$color-delete: #ff9900;
$color-message: #3333ff;