//imports
@import 'imports/flexbox.scss';
@import 'imports/BaseProperties.scss';
@import 'imports/colors.scss';

.navbar {
    width: 16.8em;
    margin: 0 1.75em 0 0;
    padding-top: 2.1em;
    @include flexbox();
    @include justify-content(flex-start);
    @include justify-content (space-between);
    
    .navbar-nav {
        font-size: 1.3em;
    }

    .basketNavLinkWrapper {
        @include flexbox();
        @include flex-direction(row);  
        @include justify-content(center);
        
        .badge {
            padding: 0.47em 0.7em 0.5em 0.7em;
            margin-left: -0.8em;
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: none; 
        padding: 0 1em 0 0;
    }
}

