//imports
@import 'imports/flexbox.scss';
@import 'imports/BaseProperties.scss';
@import 'imports/colors.scss';

.shopping_basket {
    width: $width-primary;
    min-height: 41em;
    padding: 5em 0 5em 0;
    scroll-behavior: smooth;
    
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    .select-box {
        width: 85%;
        height: 50%;
        padding: 5em 2em 7em 2em;
        background: $color-secondary;

        .statement {
            width: $width-primary;
            padding-bottom: 3em;

            p {
                font-size: 1.2em;
                text-align: center;
                color: $color-user;
            }
        }

        .basket {
            width: $width-primary;

            h2 {
                text-align: center;
                font: {
                    weight: lighter;
                    size: 2.75em;
                }
            }           
        }

        .basket_content {
            width: $width-primary;
            height: 60%;
            padding: 4em 4em 2em 4em;

            table {
                width: $width-primary;
                height: auto;
                thead {
                    height: 4em;
                    font-size: 1.2em;
                    border-bottom: 0.025em solid $color-black;
                    th {
                        padding-right: 4em;
                    }
                    .image {
                        p {
                            margin-left: 0.6em;
                        }
                    }
                    .numberCount {
                        .items-sum {
                            width: 10em;
                            margin-left: 1.3em;
                        }
                    }
                    .price {
                        p {
                            margin-left: -0.35em;
                        }
                    }
                }
    
                tbody {
                    tr {
                        padding: 3em;
                    }
                }
            }
        }

        .linkToOrder {
            padding: 0.5em 1em 0.65em 1em;
            color: $color-response;
            background-color: $color-link;
        }
        
        .linkToProducts {
            text-decoration: none;
            color: $color-message;
            &:hover,
            &:focus {
                color: $color-user;
            }
        }
    }
}

// Transition
.row-wrapper-enter {
    opacity: 0;
}

.row-wrapper-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }

.row-wrapper-exit {
    opacity: 1;
}

.row-wrapper-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }