@import 'imports/flexbox.scss';
@import 'imports/colors.scss';
@import 'imports/MediaQueries.scss';

.basket {
    width: 6em;
    height: 4em;
    padding: 0.5em 0.55em 0.5em 0.55em;
    margin: 0 12em 1em 64.5em;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);

    @media #{$screen-laptop-down} {
        margin-left: 56em;
    }

    color: $color-basket;
    background-color: $color-products;

    .fa {
        padding-top: 0.175em;
    }

    p {
        font-size: 1.8em;
    }
    transform: translate(-1.7em, -11em);
    -webkit-transform: translate(-1.7em, -11em);
    -moz-transform: translate(-1.7em, -11em);
    -ms-transform: translate(-1.7em, -11em);
    -o-transform: translate(-1.7em, -11em);

    @media #{$screen-laptop-down} {
        transform: translate(-18.75em,-13.6em);
        -webkit-transform: translate(-18.75em,-13.6em);
        -moz-transform: translate(-18.75em,-13.6em);
        -ms-transform: translate(-18.75em,-13.6em);
        -o-transform: translate(-18.75em,-13.6em);
    }
}

.quantityWrapper {
    width: 10em;
    height: 5em;
    display: flex;
    flex-direction: row;
    background-color: rgb(146, 146, 219);
}
