//imports
@import 'imports/flexbox.scss';
@import 'imports/BaseProperties.scss';
@import 'imports/colors.scss';

.shopping_basket {
    width: $width-primary;
    height: 41em;
    padding: 5em 0 5em 0;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    .select-box {
        width: 60%;
        min-height: 50%;
        background: $color-secondary;
    }
}